{{ define "content" }}

<div class="content">
  <div class="page">
    <h1>Alerts</h1>
    <div class="tab-container">
      <div class="tab active" onclick="showAlerts()">Active Alerts</div>
      <div class="tab" onclick="showCompletedAlerts()">Completed Alerts</div>
    </div>
    <div id="alertsTable" class="grid-container">
      <div class="grid-header">
        <div class="grid-item header-item">Symbol</div>
        <div class="grid-item header-item">Trigger Value</div>
        <div class="grid-item header-item">Action</div>
      </div>
      {{range .Alerts}}
      <div class="grid-body" id="alert-{{.ID}}">
        <div class="grid-item body-item">{{.Symbol}}</div>
        <div class="grid-item body-item">{{printf "%.4f" .TriggerValue}}</div>
        <div class="grid-item body-item">
          <form action="/api/delete-alert?id={{.ID}}" method="post">
            <input type="hidden" name="id" value="{{.ID}}">
            <button type="submit" style="color: red; background: none; border: none; cursor: pointer; padding: 0;">❌</button>
          </form>
        </div>
      </div>

      {{else}}
      <div>No active alerts found.</div>
      {{end}}
    </div>

    <div id="completedAlertsTable" class="grid-container none">
      <div class="grid-header">
        <div id="alert-{{.ID}}" class="grid-item header-item">Symbol</div>
        <div id="alert-{{.ID}}" class="grid-item header-item">
          Trigger Value
        </div>
        <div id="alert-{{.ID}}" class="grid-item header-item">Completed At</div>
      </div>
      {{range .CompletedAlerts}}
      <div class="grid-body">
        <div id="alert-{{.ID}}" class="grid-item body-item">{{.Symbol}}</div>
        <div id="alert-{{.ID}}" class="grid-item body-item">
          {{printf "%.4f" .TriggerValue}}
        </div>
        <div id="alert-{{.ID}}" class="grid-item body-item">
          {{.CompletedAt}}
        </div>
      </div>

      {{else}}
      <div>No completed alerts found.</div>
      {{end}}
    </div>

    <h2>Add alert</h2>
    <div class="form-container">
      <form id="alert-form" action="/api/add-alert" method="post">
        <div class="form-row">
          <div class="form-group">
            <label for="symbol">Symbol</label>
            <input
              type="text"
              id="symbol"
              name="symbol"
              placeholder="NVDA"
              required
            />
          </div>
          <div class="form-group">
            <label for="triggerValue">Trigger Value</label>
            <input
              type="number"
              id="triggerValue"
              name="triggerValue"
              placeholder="120.45"
              step="0.00001"
              required
            />
          </div>
        </div>
        <div class="form-row">
          {{ if .Email }} {{ if .CanAddAlert }}
          <button type="submit">Set Alert</button>
          {{ else }}
          <button type="button" onclick="showSubscribeModal()">
            Set Alert
          </button>
          {{ end }} {{ else }}
          <button type="button" onclick="openModalShowSignUpForm()">
            Set Alert
          </button>
          {{ end }}
        </div>
      </form>
    </div>
  </div>
</div>

{{ end }}
