{{ define "content" }}
<div class="content">
  <div class="page">
    <h2>Controllers</h2>
    <h3>alertsController</h3>
    <div>
      For controlling alerts endpoints we have functions:
      <h3>AddAlert</h3>
      <div>AddAlert function checks if the endpoint method used is POST.</div>
      <div>
        Then gets the email of the user from auth middleware and then fetches
        the user userService.GetUserByEmail.
      </div>
      <div>
        Afterwards it checks if a user can add more alerts fetching from
        subscriptionUtils.UserSubscription variable.
      </div>
      <div>
        Then it parses the form fields for symbol and triggerValue and does
        validation on them.
      </div>
      <div>
        Gets the current price of symbols stock using
        yahooService.GetStockCurrentValue. And based on that determines the
        alertType. If the current price > triggerValue then alertType is "lower"
        otherwise "higher".
      </div>
      <div>
        Then save the alert to db using alertsService.AddAlert. And does a check
        if user can still add more alerts using
        subscriptionUtils.CheckToAddAlert and store it in
        subscriptionUtils.UserSubscription of that particular user.
      </div>
      <div>Lastly redirect user to "/alerts" route.</div>
    </div>
    <h3>GetAlerts</h3>
    <div>GetAlerts function checks if the endpoint method used is GET.</div>
    <div>Then it fetches alerts using alertsService.GetAlerts.</div>
    <div>Lastly function returns the fetched alerts as a JSON.</div>
    <h3>DeleteAlert</h3>
    <div>DeleteAlert function checks if the endpoint method used is POST.</div>
    <div>
      Then gets the email of the user from auth middleware and then fetches the
      user userService.GetUserByEmail.
    </div>
    <div>
      Afterwards from the URL it gets the id of the alert to be deleted and
      converts it to int.
    </div>
    <div>
      It deletes the alerts using alertsService.DeleteAlertByID. And does a
      check if user can still add more alerts using
      subscriptionUtils.CheckToAddAlert and store it in
      subscriptionUtils.UserSubscription of that particular user.
    </div>
    <div>Lastly redirect user to "/alerts" route.</div>
    <h3>authController</h3>
    <div>
      For controlling authentication we have functions:
      <h3>SignUp</h3>
      <div>SignUp function checks if the endpoint method used is POST.</div>
      <div>
        Then it gets the email and password from form values and validates that
        they are not empty strings.
      </div>
      <div>
        Afterwards it saves the user to the db using userService.CreateUser.
      </div>
      <div>It creates the stripe customer using payments.CreateCustomer.</div>
      <div>
        And does a check if user can still add more alerts using
        subscriptionUtils.CheckToAddAlert and store it in
        subscriptionUtils.UserSubscription of that particular user.
      </div>
      <div>
        Lastly it redirects the user to "/?login=true" this triggers the client
        code to open a modal with the login form.
      </div>

      <h3>Login</h3>
      <div>SignUp function checks if the endpoint method used is POST.</div>
      <div>
        Then it gets the email and password from form values and validates that
        they are not empty strings.
      </div>
      <div>
        Afterwards it fetches the user from db using userService.GetUserByEmail.
      </div>
      <div>
        Then it checks the password if its correct using
        authUtils.CheckPassword.
      </div>
      <div>Generates a token using authUtils.GenerateToken.</div>
      <div>And sets the cookie with token.</div>
      <div>Lastly redirects the user to "/alerts" route.</div>

      <h3>Logout</h3>
      <div>Logout function sets the token cookie to empty string.</div>
      <div>Lastly redirects the user to "/" route.</div>

      <h3>ResetPassword</h3>
      <div>
        ResetPassword function checks if the endpoint method used is POST.
      </div>
      <div>
        Then it gets the email form values and validates that its are not empty
        string.
      </div>
      <div>
        It generates a token using base64.URLEncoding.EncodeToString and stores
        it into authUtils.ResetTokens map.
      </div>
      <div>Sends and email with the token to the email from the form.</div>
      <div>Lastly redirects the user to "/reset-password-sent" route.</div>

      <h3>SetPassword</h3>
      <div>
        SetPassword function checks if the endpoint method used is POST.
      </div>
      <div>
        Then it gets the password and token from form values and validates that
        checks the authUtils.ResetPassword map with the token as key.
      </div>
      <div>Hashes the password using bcrypt.GenerateFromPassword.</div>
      <div>
        And updates the user with the newly hashed password using
        userService.UpdatePassword.
      </div>
      <div>
        It then invalidates the token by deleting it from the
        authUtils.ResetToken map using delete.
      </div>
      <div>Lastly redirects the user to "/reset-password-success" route.</div>

      <h3>controllers</h3>
      <div>
        For controlling all the endpoints we have functions:
        <h3>protectedHandler</h3>
        <div>
          protectedHandler function is just for testing the protected
          pages/endpoints.
        </div>

        <h3>pageHandler</h3>
        <div>
          pageHandler is a function that sets necessary data, title, content and
          user info for pages and renders them using templates.RenderTemplate.
        </div>
        <div>
          Pages that we have:
          <ul>
            <li>/ - home page</li>
            <li>/pricing</li>
            <li>/about</li>
            <li>/alerts</li>
            <li>/profile</li>
            <li>/reset-password-sent</li>
            <li>/reset-password-sucess</li>
            <li>/subscription-success</li>
            <li>/subscription-cancel</li>
            <li>/docs</li>
          </ul>
        </div>

        <h3>RestApi</h3>
        <div>
          RestApi function for handling all the api endpoint calls and all the
          pages get handled by pageHandler. This is where it all gets routed to
          the correct spot. And we also serve static files here like css and js
          files and we also set the servers port here.
        </div>
        <div>
          For endpoints we have:
          <ul>
            <li>/api/add-alert</li>
            <li>/api/delete-alert</li>
            <li>/api/alerts</li>
            <li>/api/sign-up</li>
            <li>/api/login</li>
            <li>/api/reset-password</li>
            <li>/api/set-password</li>
            <li>/api/create-checkout-session</li>
            <li>/api/customer-by-email</li>
            <li>/api/cancel-subscription</li>
            <li>/webhook</li>
          </ul>
        </div>

        <h3>db - Database</h3>
        <div>
          The database has only one function called InitDB, where we initialize
          the db with alerts and users tables.
        </div>

        <h3>loadTest</h3>
        <div>
          loadTest has only one function called SetupDbWithLotsOfAlerts for
          adding random 100k alerts to simulate how the app would function with
          while monitoring lots of alerts.
        </div>

        <h3>mail</h3>
        <div>
          mail has only one function called SendEmail for sending emails from,
          fromName and password are env variables. Otherwise to, subject and
          body are the functions parameters.
        </div>
        <div>
          For the sender it uses plain authentication just email and password.
        </div>

        <h3>alertsService</h3>
        <div>
          With alertService we communicate with the alerts table of db using raw
          sql statements.

          <h3>SetDB</h3>
          <div>Function for setting the db from main package.</div>

          <h3>AddAlert</h3>
          <div>
            AddAlert inserts a new alert to the database. Doesn't return
            anything
          </div>

          <h3>GetAlerts</h3>
          <div>
            GetAlerts selects all alerts of all users that have not been
            triggered yet and orders them by symbol. Returns the list of fetched
            alerts.
          </div>

          <h3>GetAlertsByUserID</h3>
          <div>
            GetAlertsByUserID selects all alerts of a specific user that have
            not been triggered yet and orders them by created_at. Returns the
            list of fetched alerts.
          </div>

          <h3>GetCompletedAlertsByUserID</h3>
          <div>
            GetCompletedAlertsByUserID selects all alerts of a specific user
            that have been triggered and limits them to 100 rows and orders them
            by created_at. Returns the list of fetched alerts.
          </div>

          <h3>GetAlertsBySymbol</h3>
          <div>
            GetAlertsBySymbol selects all alerts of a specific symbol that have
            not been triggered yet. Returns the list of fetched alerts.
          </div>

          <h3>CheckAlerts</h3>
          <div>
            CheckAlerts get all alerts for a specific symbol using
            GetAlertsBySymbol and then checks if any of the alerts should be
            triggered based on the current price of the specific stock.
          </div>
          <div>
            If the alert should be triggered it then updates the alerts as
            triggered and sends an email to the user of the alert which it gets
            by calling userService.GetUserById and sends the email using go
            mail.SendEmail.
          </div>
          <div>
            Here we use the go routine for sending the email, because it takes
            time till the email is properly sent and we don't need to wait for
            that. Otherwise it would slow down the whole app.
          </div>
          <div>This function doesnt return anything.</div>

          <h3>DeleteAlertByID</h3>
          <div>DeleteAlertByID deletes a specific alert by using an ID.</div>
          <div>This function doesnt return anything.</div>

          <h3>userSerivce</h3>
          <div>
            With userSerivce we communicate with the users table of db using raw
            sql statements.

            <h3>CreateUser</h3>
            <div>CreateUser inserts a new user to the db.</div>
            <div>This function returns the ID of the new alert.</div>

            <h3>GetUserById</h3>
            <div>GetUserById gets user with a specific ID.</div>
            <div>This function returns a user.</div>

            <h3>GetUserByEmail</h3>
            <div>GetUserByEmail gets user with a specific email.</div>
            <div>This function returns a user.</div>

            <h3>GetUsers</h3>
            <div>GetUsers gets all users.</div>
            <div>This function returns a n array of users.</div>

            <h3>UpdatePassword</h3>
            <div>UpdatePassword updates the password of a specific user.</div>
            <div>This function doesnt return anything.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
