{{ define "content" }}

<div class="content">
  <div class="page">
    <div class="landing-page">
      <h1>Set Your Trading Alerts</h1>
      <p>
        Stay ahead of the market with real-time price alerts on support and
        resistance levels.
      </p>

      <div class="form-container" style="margin: auto">
        <form id="alert-form" action="/api/add-alert" method="post">
          <div class="form-row">
            <div class="form-group">
              <label for="symbol">Symbol</label>
              <input
                type="text"
                id="symbol"
                name="symbol"
                placeholder="NVDA"
                required
              />
            </div>
            <div class="form-group">
              <label for="triggerValue">Trigger Value</label>
              <input
                type="number"
                id="triggerValue"
                name="triggerValue"
                placeholder="120.45"
                step="0.01"
                required
              />
            </div>
          </div>
          <div class="form-row">
            {{ if .Email }} {{ if .CanAddAlert }}
            <button type="submit">Set Alert</button>
            {{ else }}
            <button type="button" onclick="showSubscribeModal()">
              Set Alert
            </button>
            {{ end }} {{ else }}
            <button type="button" onclick="openModalShowSignUpForm()">
              Set Alert
            </button>
            {{ end }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
