{{ define "content" }}
<div class="content">
  <div class="page">
    <div class="pricing-page">
      <h1>Choose Your Plan</h1>
      <div class="pricing-cards">
        <div class="card silver-card">
          <h2>Silver Plan</h2>
          <p class="price">$0<span>/month</span></p>
          <div class="perks">
            <p>5 Alerts</p>
            <p>Email notifications</p>
            <p class="hidden">none</p>
          </div>
          {{ if .Email }} 
          {{ if eq .SubscriptionType "silver" }} 
          <div class="activeSubscription">Active Plan</div>
          {{ else }}
          <button onclick="selectPlan('Silver Alerts')">Select</button>
          {{ end }}
          {{ else }}
          <button type="button" onclick="showSubscribeModal()">
          {{ end }}
        </div>

        <div class="card gold-card preselected-card">
          <span class="most-popular">* Most Popular</span>
          <h2>Gold Plan</h2>
          <p class="price">$4.99<span>/month</span></p>
          <div class="perks">
            <p>100 Alerts</p>
            <p>Email notifications</p>
            <p>Basic Support</p>
          </div>
          {{ if .Email }} 
          <button onclick="selectPlan('gold')">Select</button>
          {{ else }}
          <button type="button" onclick="showSubscribeModal()">
          {{ end }}
        </div>

        <div class="card diamond-card">
          <h2>Diamond Plan</h2>
          <p class="price">$9.99<span>/month</span></p>
          <div class="perks">
            <p>1000 Alerts</p>
            <p>Email notifications</p>
            <p>Priority Support</p>
          </div>
          {{ if .Email }} 
          <button onclick="selectPlan('diamond')">Select</button>
          {{ else }}
          <button type="button" onclick="showSubscribeModal()">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
