{{ define "content" }}
<div class="content">
  <div class="page">
    <div class="pricing-page">
      <h1>Choose Your Plan</h1>
      <div class="pricing-cards">
        <div class="card silver-card">
          <h2>Silver Plan</h2>
          <p class="price">$4.99<span>/month</span></p>
          <div class="perks">
            <p>20 Alerts</p>
            <p>Email notifications</p>
            <p>Basic Support</p>
          </div>

          <button onclick="selectPlan('Silver Alerts')">Select</button>
        </div>

        <div class="card gold-card preselected-card">
          <span class="most-popular">* Most Popular</span>
          <h2>Gold Plan</h2>
          <p class="price">$9.99<span>/month</span></p>
          <div class="perks">
            <p>100 Alerts</p>
            <p>Email notifications</p>
            <p>Priority Support</p>
          </div>

          <button onclick="selectPlan('Gold Alerts')">Select</button>
        </div>

        <div class="card diamond-card">
          <h2>Diamond Plan</h2>
          <p class="price">$49.99<span>/month</span></p>
          <div class="perks">
            <p>1000 Alerts</p>
            <p>Email notifications</p>
            <p>Priority Support</p>
          </div>
          <button onclick="selectPlan('Platinum Alerts')">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
