<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trading Alerts</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/img/logo.ico" type="image/x-icon" />
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header class="sticky-header">
      <nav>
        <ul class="navigation">
          <li>
            <a href="/"><img src="/static/img/logo.png" width="30" /></a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/pricing">Pricing</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <div class="pricing-page">
        <h1>Choose Your Plan</h1>
        <div class="pricing-cards">
          <div class="card silver-card">
            <h2>Silver Alerts</h2>
            <p class="price">$4.99<span>/month</span></p>
            <div class="perks">
              <p>20 Alerts</p>
              <p>Email notifications</p>
              <p>Basic Support</p>
            </div>

            <button onclick="selectPlan('Silver Alerts')">Select</button>
          </div>

          <div class="card gold-card">
            <span class="most-popular">* Most Popular</span>
            <h2>Gold Alerts</h2>
            <p class="price">$9.99<span>/month</span></p>
            <div class="perks">
              <p>100 Alerts</p>
              <p>Email notifications</p>
              <p>Priority Support</p>
            </div>

            <button onclick="selectPlan('Gold Alerts')">Select</button>
          </div>

          <div class="preselected-card">
            <div class="card diamond-card">
              <h2>Diamond Alerts</h2>
              <p class="price">$49.99<span>/month</span></p>
              <div class="perks">
                <p>1000 Alerts</p>
                <p>Email notifications</p>
                <p>24/7 Premium Support</p>
              </div>
              <button onclick="selectPlan('Platinum Alerts')">Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>Contact us: support@tradingalerts.com</p>
    </footer>
  </body>
</html>
